{
  "openapi": "3.1.0",
  "info": {
    "title": "Lancepilot API",
    "description": "API for Lancepilot",
    "version": "1.0.0",
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://lancepilot.com/api/v2"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/workspaces": {
      "get": {
        "summary": "Get all workspaces",
        "description": "Retrieve a list of all workspaces associated with the authenticated user.",
        "tags": ["Workspace"],
        "parameters": [
          {
            "name": "Search",
            "in": "query",
            "description": "Filter workspaces based on search criteria.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of workspaces retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access."
          }
        }
      },
      "post": {
        "summary": "Create a new workspace",
        "description": "Create a new workspace for the authenticated user.",
        "tags": ["Workspace"],
        "requestBody": {
          "description": "Workspace creation parameters.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Workspace created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: Exceeds workspace creation limit."
          },
          "422": {
            "description": "Unprocessable Entity: Validation errors."
          }
        }
      }
    },
    "/workspaces/{workspace_id}": {
      "post": {
        "summary": "Update a workspace",
        "description": "Update the specified workspace.",
        "tags": ["Workspace"],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "description": "ID of the workspace to update.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Workspace update parameters.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workspace updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a workspace",
        "description": "Delete a workspace by ID.",
        "tags": ["Workspace"],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "description": "ID of the workspace to delete.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found: Workspace not found or unauthorized access."
          }
        }
      }
    },
    "/workspaces/partner-permissions": {
      "get": {
        "summary": "Get partner default permissions",
        "description": "Retrieve the authenticated user’s default permissions for partner workspaces.",
        "tags": ["Workspace"],
        "responses": {
          "200": {
            "description": "Permissions fetched successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermissionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/update-partner-permissions": {
      "post": {
        "summary": "Update partner default permissions",
        "description": "Update the default permissions applied to new partner workspaces created by the user.",
        "tags": ["Workspace"],
        "requestBody": {
          "description": "Permissions update parameters.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PermissionsUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Permissions updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace}/contacts": {
      "get": {
        "summary": "Get contacts in a workspace",
        "description": "Retrieve all contacts associated with the specified workspace.",
        "tags": ["Contacts"],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "description": "ID of the workspace to retrieve contacts from.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found: Workspace not found or unauthorized access."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "WorkspaceListResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Data retrieved successfully."
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Workspace"
            }
          },
          "status": {
            "type": "integer",
            "example": 200
          }
        }
      },
      "Workspace": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "9b8511c7-ad64-49e3-89d3-428ce8d0efe4"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "example": "test-workspace"
              },
              "status": {
                "type": "integer",
                "example": 1
              },
              "createdAt": {
                "type": "string",
                "format": "date-time",
                "example": "2025-05-14T04:18:19.000000Z"
              }
            }
          }
        }
      },
      "WorkspaceCreateRequest": {
        "type": "object",
        "required": ["name", "type", "status"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Unique name per user."
          },
          "type": {
            "type": "string",
            "enum": ["INTERNAL", "PARTNER"],
            "description": "Type of workspace."
          },
          "status": {
            "type": "boolean",
            "description": "Workspace status (active/inactive)."
          }
        }
      },
      "WorkspaceUpdateRequest": {
        "type": "object",
        "required": ["name", "type", "status"],
        "properties": {
          "name": {
            "type": "string",
            "description": "New workspace name."
          },
          "type": {
            "type": "string",
            "enum": ["INTERNAL", "PARTNER"],
            "description": "Must be a valid workspace type."
          },
          "status": {
            "type": "boolean",
            "description": "New status (true for active, false for inactive)."
          }
        }
      },
      "PermissionsResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Permissions fetched successfully."
          },
          "data": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "contacts.view"
            }
          },
          "status": {
            "type": "integer",
            "example": 200
          }
        }
      },
      "PermissionsUpdateRequest": {
        "type": "object",
        "required": ["permissions"],
        "properties": {
          "permissions": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Must match valid permissions from Permissions::values()."
            }
          }
        }
      },
      "GenericResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Operation completed successfully."
          },
          "data": {
            "type": "array",
            "items": {}
          },
          "status": {
            "type": "integer",
            "example": 200
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
